<footer class="site-footer">
    <div class="max">
        <div class="footer-left">&copy; 2021 8bitplanet</div>
        <div class="footer-right">
            <a href="http://instagram.com">Instagram</a>
            <a href="http://twitter.com">Twitter</a>
        </div>
    </div>
</footer>