<!DOCTYPE html>
<html>

<head>
    <title>8bitplanet</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="app.js"></script>
    <link href="css/style.css" rel="stylesheet" />
</head>

<body>
    <header class="site-header">
        <nav>
            <div class="max">
                <a href="/" class="logo">
                    <!-- Platzhalter für Logo -->
                    <svg viewBox="0 0 384 384" width="32" height="32" xmlns="http://www.w3.org/2000/svg">
                        <title>Logo</title>
                        <defs>
                            <clipPath id="planet">
                                <ellipse cx="192" cy="192" id="svg_1" rx="192" ry="192">
                            </clipPath>
                        </defs>
                        <g clip-path="url(#planet)">
                            <ellipse fill="#fff" cx="192" cy="192" id="svg_1" rx="192" ry="192" stroke-width="0" />
                            <rect id="svg_8" height="64" width="64" y="0" x="192" stroke-width="0" fill="#000" />
                            <rect id="svg_12" height="64" width="64" y="320" x="128" stroke-width="0" fill="#800080" />
                            <rect id="svg_14" height="64" width="64" y="192" x="0" stroke-width="0" fill="#800080" />
                            <rect id="svg_4" height="64" width="64" y="192" x="256" stroke-width="0" fill="#800080" />
                            <rect id="svg_6" height="64" width="64" y="128" x="320" stroke-width="0" fill="#000" />
                            <rect id="svg_7" height="64" width="64" y="64" x="128" stroke-width="0" fill="#800080" />
                            <rect id="svg_15" height="64" width="64" y="128" x="64" stroke-width="0" fill="#000" />
                            <rect id="svg_17" height="64" width="64" y="256" x="192" stroke-width="0" fill="#000" />
                        </g>
                    </svg>

                    8bitplanet
                </a>

                <!-- Menu -->
                <a href="/loginformular">Login</a>
                <a href="/gallery">Galerie</a>
                <a href="/profile">Profil</a>
            </div>
        </nav>
    </header>