<%- include('partials/header'); %>
  <main class="site-content max">

    <h2>Login</h2>
    <form id="login" action="/login" method="POST">
      <div>
        <label for="name">Name:</label>
        <input name="name" id="login-name" type="text" tabindex="1" required autofocus>
      </div>

      <div>
        <label for="passwort">Passwort:</label>
        <input placeholder="Passwort" name="login-passwort" id="passwort" type="password" tabindex="2" required></input>
      </div>

      <div>
        <button name="submit" type="submit" id="login-submit" data-submit="... sendet" class="button">Absenden</button>
      </div>
    </form>
  </main>

  <footer>
    <%- include('partials/footer'); %>
  </footer>
  </body>

  </html>