<%- include('partials/header'); %>

    <main class="site-content max">
        <h2>Profil</h2>

        <!-- Platzhalter Avatar -->
        <img src="https://images.unsplash.com/photo-1579109788443-68073c1fd623" alt="" class="ava">

        <div>
            <p>Name</p>
            <p>Email</p>
            <p>Bio</p>
        </div>

        <div>
            <h2>Persönliche Galerie
            </h2>
        </div>
        <div class="grid">
            <!-- Platzhalter Bilder -->
            <img src="https://images.unsplash.com/photo-1579109788443-68073c1fd623?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=700&fit=max"
                alt="">
            <img src="https://images.unsplash.com/photo-1558383409-ab7ef8db3e01?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=700&fit=max"
                alt="">
            <img src="https://images.unsplash.com/photo-1561336486-16dd1489c933?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=700&fit=max"
                alt="">
            <img src="https://images.unsplash.com/photo-1557395703-b5202a63d0f3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=700&fit=max"
                alt="">
        </div>
    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>
    </body>

    </html>