<%- include('partials/header'); %>

    <main class="site-content">
        <h2>Profil</h2>
        <div class="grid">
            <section>
                <div class="profile profile-wide">
                    <div class="profile__image"><img
                            src="https://images.unsplash.com/photo-1579109788443-68073c1fd623?w=152&h=152&fit=crop&crop=faces"
                            alt="Doggo" /></div>
                    <div class="profile__info">
                        <h3>Username</h3>
                        <p class="profile__info__extra">Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
                    </div>
                    <div class="profile__stats">
                        <p class="profile__stats__title">Posts</p>
                        <h5 class="profile__stats__info">23</h5>
                    </div>
                    <div class="profile__stats">
                        <p class="profile__stats__title">Followers</p>
                        <h5 class="profile__stats__info">105</h5>
                    </div>
                    <div class="profile__stats">
                        <p class="profile__stats__title">Following</p>
                        <h5 class="profile__stats__info">81</h5>
                    </div>
                    <div class="profile__cta"><a class="button">Follow!</a></div>
                </div>
            </section>
        </div>

        <div>
            <h2>Persönliche Galerie
            </h2>
        </div>
        <div class="grid">
            <!-- Platzhalter Bilder -->
            <img src="https://images.unsplash.com/photo-1579109788443-68073c1fd623?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=700&fit=max"
                alt="">
            <img src="https://images.unsplash.com/photo-1558383409-ab7ef8db3e01?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=700&fit=max"
                alt="">
            <img src="https://images.unsplash.com/photo-1561336486-16dd1489c933?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=700&fit=max"
                alt="">
            <img src="https://images.unsplash.com/photo-1557395703-b5202a63d0f3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=700&fit=max"
                alt="">
        </div>
    </main>

    <footer>
        <%- include('partials/footer'); %>
    </footer>
    </body>

    </html>