<%- include('partials/header'); %>

  <main class="site-content">
    <div class="grid">
      <!-- Spalte 1-->
      <div>
        <h2>Welcome to 8bitplanet.</h2>
        <p>[Intro Text]</p>
      </div>

      <!-- Spalte 2-->
      <div>
        <h2>...</h2>
        <p><a href="loginformular">Zum Login</a></p>
      </div>
    </div>
  </main>

  <footer>
    <%- include('partials/footer'); %>
  </footer>
  </body>

  </html>